@media (min-width: 1px) {
    .avatar {
        width: 2.5rem;
    }
}

@media (min-width: 768px) {
    .avatar {
        width: 4rem;
    }
}

.postContainer {
    display: flex;
}
  
.avatarContainer {
    display: flex;
    align-items: flex-start;
}

.avatar {
    display: flex;
    border-radius: 50%;
    margin: 0.5rem;
}